# Ignore large data files
*.npy
*.pt
*.pth

# Ignore folders
Results/
data/
Figures/

# Ignore env
dino_simclr_env/

# Python cache
__pycache__/
*.pyc
# Bytecode
*.pyc
*.pyo

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
# Jupyter
.ipynb_checkpoints/
# Model checkpoints
*.ckpt
*.h5
